{% extends 'base.html' %}
{% block robots %}{% with noindex=True %}{{ block.super }}{% endwith %}{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <h1>Contrato de Prestação de Serviço de Consultoria Financeira</h1>
                </div>
                <br>
                <p>Estes Termos e Condições de Uso e Serviços (“Termos e Condições”) descrevem os termos e as condições
                    aplicáveis ao acesso e uso dos serviços disponibilizado pelo economista,
                    <strong>IGOR GEORGE MAZZEI MUNDSTOCK</strong>, portador do CPF de nº 026.988.490-45, autorizado a
                    prestar serviço de consultoria de investimentos pela Comissão
                    de Valores Mobiliários (CVM) do Brasil, residente de Santa Cruz do Sul e com domicílio na Rua São
                    José 927 (Apto 408/BlocoB), Bairro Goiás – RS identificado como CONTRATADA e, de outro lado, a
                    pessoa física ou jurídica, doravante identificada simplesmente como CONTRATANTE, identificada no
                    Cadastramento Eletrônico pelo seu nome completo e CPF, onde declara estar ciente e ter aceitado
                    os termos do presente contrato de Prestação de Serviços de Consultoria de Investimentos, que têm
                    entre si, justo e pactuado o que segue. Leia com atenção os Termos e Condições abaixo. Eles
                    abrangem informações relevantes sobre o serviço de Consultoria de Investimentos oferecido e, ao
                    confirmar a leitura do documento atual o CONTRATANTE confirma que leu, entendeu e aceitou todos os
                    termos e condições aqui presentes.</p>

                <p class="h5 mt-4">DO OBJETO:</p>
                <p><strong>Cláusula 1ª: </strong>É objeto do presente contrato, prestado ao CONTRATANTE, o serviço de Consultoria de Investimentos pelo CONTRATADO, de forma totalmente virtual, consistente em analisar e prestar diagnóstico da situação financeira do CONTRATANTE e com foco na orientação e recomendação de investimentos condizente com o perfil do CONTRATANTE, na forma e termos abaixo descritos.</p>
                <p>§ 1º: A contratação deverá ser realizada por meio do site ou através do contato direto com o CONTRATANTE, onde constarão todos os detalhes referentes ao serviço prestado, assim como informações no tocante ao conteúdo a ser abordado e a metodologia utilizada.</p>
                <p>§ 2º: O início da consultoria de investimentos ocorrerá conforme data acordada entre CONTRATADO e, a partir de contato via e-mail igormundstock@gmail.com, onde será enviado ao CONTRATANTE um questionário de Avaliação de Perfil de Investidor (API) e endereço virtual para agendamento da consultoria de investimentos.</p>
                <p>§ 3º: Para que o prazo supracitado seja observado, o CONTRATANTE deverá informar de maneira completa todos os dados abaixo, sob pena de sua inscrição não ser concretizada e de não receber o questionário supracitado:</p>
                <ol class="termos" type="a">
                    <li>Nome completo;</li>
                    <li>Endereço residencial completo;</li>
                    <li>Telefone;</li>
                    <li>E-mail</li>
                    <li>Número do CPF</li>
                </ol>

                <p class="h5 mt-4">DAS OBRIGAÇÕES DA CONTRATADA:</p>
                <p><strong>Cláusula 2ª: </strong>São deveres da CONTRATADA:</p>
                <ol class="termos" type="I">
                    <li>Cumprir integralmente o disposto neste contrato, com a realização do serviço conforme estabelecido no instrumento assinado, de forma totalmente on-line, valendo-se de toda metodologia necessária.</li>
                    <li>Utilizar técnicas condizentes com o serviço de consultoria de investimentos a ser prestado, empregando todos os esforços e conhecimento técnico para a sua consecução, bem como se responsabiliza em manter os dados financeiros fornecidos pelo CONTRATANTE em sigilo profissional, com total confidencialidade.</li>
                    <li>O serviço dar-se-á a partir do agendamento da consultoria de investimentos pelo CONTRATANTE, que automaticamente receberá endereço virtual da conferência via aplicativo Zoom, que terá impreterivelmente o tempo máximo de 01 hora (uma hora), momento para ponderação dos seus objetivos, preferências e computação de seus dados patrimoniais.</li>
                </ol>
                <p>§ 1º: A parte CONTRATADA tem o prazo para realizar a chamada de vídeo constante no item III de acordo com a data acordada entre CONTRATADA e CONTRATANTE, na qual a recusa em sua realização por parte da CONTRATANTE, pressupõe a desistência, sem que haja a possibilidade de qualquer devolução de valores.</p>
                <p>§ 2º: O descumprimento do disposto na cláusula 2ª, item II, no tocante à confidencialidade dos dados, originará uma multa de 10% sobre o valor do contrato, sem isenção das demais penalidades nas esferas cíveis e criminais.</p>
                <p>§ 3º: A CONTRATADA irá disponibilizar um relatório referente às finanças e investimentos do CONTRATANTE, a ser apresentado em até 15 (quinze) dias úteis após o término da consultoria, com as considerações que achar pertinentes e suas respectivas avaliações, relativas à situação financeira do CONTRATANTE e recomendações de investimentos, baseando nas informações recebidas através deste. Tal material será de uso e acesso exclusivo e personalíssimo da parte CONTRATANTE, ficando sob sua responsabilidade qualquer implementação das sugestões expostas pela CONTRATADA.</p>

                <p class="h5 mt-4">DAS OBRIGAÇÕES DO CONTRATANTE:</p>
                <p><strong>Cláusula 3ª: </strong>São deveres do CONTRATANTE: </p>
                <ol class="termos" type="I">
                    <li>Realizar o pagamento, conforme o disposto na cláusula 6ª deste contrato após o término da conferência pelo aplicativo Zoom.</li>
                    <li>Apresentar à CONTRATADA todos os documentos e dados necessários ao bom e fiel cumprimento da presente consultoria, quando solicitados, bem como prestar as informações requeridas.</li>
                </ol>
                <p>§ 1º: O CONTRATANTE está ciente que o serviço não apresenta qualquer garantia de rentabilidade, devido aos inúmeros riscos do mercado financeiro, a CONTRATADA se abstém de qualquer responsabilidade no cumprimento das disposições, quanto a eventual ônus inerente a sua aplicação ou ocasionais perdas, visto que a CONTRATADA não garante a obtenção de resultados positivos ou vantagens financeiras pelo CONTRATANTE em decorrência do serviço prestado.</p>
                <p>§ 2º: As deliberações acerca da consultoria são de única e exclusiva responsabilidade da CONTRATANTE, tenham estas decisões sido ou não tomadas com base em informações obtidas por meio da CONTRATADA.</p>
                <p>§ 3º: A CONTRATADA não se responsabiliza, em nenhuma hipótese, por danos decorrentes de casos fortuitos ou eventos de força maior.</p>
                <p>§ 4º: A CONTRATADA não se responsabiliza por problemas decorrentes da internet, do servidor ou de questões técnicas do aparelho utilizado pelo CONTRATANTE.</p>
                <p>§ 5º: Todo material disponibilizado pela CONTRATADA, tais como PDFs, vídeos, entre outros, é de veiculação e divulgação proibidas, de forma onerosa ou gratuita, com permissão de uso exclusiva pelo CONTRATANTE, mesmo após a conclusão dos serviços ou do término da relação contratual, sob pena de responsabilização jurídica, inclusive em caráter indenizatório, e pagamento de multa de 10% sobre o valor do contrato.</p>

                <p class="h5 mt-4">DO BANCO DE DADOS E SIGILO DE DADOS:</p>
                <p><strong>Cláusula 4ª:</strong>O CONTRATANTE se declara ciente de que, a partir da contratação, o mesmo passa a fazer parte do banco de dados da CONTRATADA, por meio do qual poderá vir a receber informações via e-mail ou mensagens instantâneas pelos aplicativos Whatsapp e Telegram.</p>
                <p>Se porventura o CONTRATANTE não tiver o interesse em receber essas informações, fica assegurado ao mesmo o direito de manifestar sua oposição, bastando que tal decisão seja comunicada para a CONTRATADA através do seu e-mail pessoal igormundstock@gmail.com.</p>
                <p>§1º: A inviolabilidade e o sigilo dos dados cadastrais de todo os seus clientes e CONTRATANTES são asseguradas pela CONTRATADA. Todas as suas informações são armazenadas dentro dos mais rígidos critérios de segurança no banco de dados e são tratadas de acordo com a legislação aplicável. Em nenhuma hipótese são fornecidas informações pessoais para terceiros não relacionados à prestação dos serviços objeto do presente instrumento, somente dados genéricos utilizados para envio de mala direta, e-mail, newsletters e desde que autorizado pelo CONTRATANTE.</p>

                <p class="h5 mt-4">DO SERVIÇO DE ATENDIMENTO AO ASSINANTE:</p>
                <p><strong>Cláusula 5ª: </strong>A CONTRATADA disponibiliza serviço de atendimento e coloca à disposição os seguintes canais de contato, a fim de solucionar problemas técnicos, que eventualmente ocorram, com o prazo de resposta de até 05 (cinco) dias úteis:</p>
                <ol class="termos" type="a">
                    <li>E-mail: contato@mundstockeducacional.com.br</li>
                    <li>Celular e Whatsapp: (51) 99886-8482</li>
                    <li>Telegram: @igormundstock</li>
                </ol>

                <p class="h5 mt-4">DO PAGAMENTO:</p>
                <p><strong>Cláusula 6ª: </strong>Pela prestação dos serviços acertados, a CONTRATANTE pagará à CONTRATADA a quantia única de R$499,00 (quatrocentos e noventa e nove reais), com possibilidade de parcelamento em até 03 (três) parcelas por meio de transferência bancária. Clientes com investimentos em valor superior a R$50.000 serão cobrados R$499,00 (quatrocentos e noventa e nove reais), com possibilidade de parcelamento em até 03 (parcelas) por meio de transferência bancária, e um adicional de 0,6% ao ano sobre o capital que será orientado e investido junto ao consultor de investimentos, com possibilidade de parcelamento em até 12 (doze) parcelas por meio de transferência bancária.</p>
                <p>§ 1º: O não pagamento de eventual parcela na data aprazada, seja qual for o motivo, acarretará a incidência de multa de 2% (dois por cento) sobre o valor de cada uma das parcelas inadimplidas, bem como o acréscimo de juros moratórios de 1% (um por cento) ao mês, calculados proporcionalmente aos dias corridos (pro rata die), desde a data do vencimento de cada uma das parcelas inadimplidas, até a data do efetivo pagamento, sem prejuízo da cobrança de valores decorrentes das despesas com a recuperação do crédito, inclusive honorários advocatícios e custas judiciais e/ou extrajudiciais.</p>
                <p>§ 2º: A CONTRATADA reserva-se no direito de: a) Inscrever o CONTRATANTE em cadastro ou serviços de proteção ao crédito, após a regular notificação prevista nas legislações civil e consumerista. b) Promover a cobrança, bem como a execução da dívida, seja judicial ou extrajudicial, para recebimento do débito.</p>

                <p class="h5 mt-4">DO PRAZO:</p>
                <p><strong>Cláusula 7ª: </strong>Este instrumento é celebrado pelos prazos estabelecidos na cláusula 2ª, item III, § 1º e §2º, sem possibilidade de prorrogação, salvo mediante acordo entre as partes.</p>

                <p class="h5 mt-4">DO CANCELAMENTO:</p>
                <p><strong>Cláusula 8ª: </strong>A CONTRATADA assegura ao CONTRATANTE a possibilidade de cancelamento do presente instrumento a qualquer tempo, mediante aviso prévio por meio do e-mail pessoal igormundstock@gmail.com ou telefone pessoal (51) 99886-8482.</p>
                <p>§ 1º: Não haverá devolução de valores referente ao serviço contratado, ressalvado o período legal para desistência de 07 (sete) dias corridos após a contratação, o qual o valor pago será devolvido de forma integral pela CONTRATADA, em até 02 (dois) dias úteis.</p>

                <p class="h5 mt-4">DA RESCISÃO:</p>
                <p><strong>Cláusula 9ª: </strong>O presente contrato poderá ser rescindido caso uma das partes não cumpra o estabelecido em qualquer das cláusulas deste instrumento, responsabilizando-se a que deu causa a pagar uma multa pecuniária de 10% sobre o valor do presente instrumento.</p>
                <p>§ 1º: Havendo quaisquer impedimentos ao cumprimento ou inadimplência do presente contrato, por motivo de responsabilidade do CONTRATANTE, a CONTRATADA reserva-se ao direito de suspender os serviços previstos nesse contrato, obrigando-se a notificar o CONTRATANTE, por via de e-mail, a fim de que proceda à regularização de sua situação em até 05 (cinco) dias úteis, sob pena de não mais serem retomados os serviços contratados, em razão de descumprimento de disposto no contrato.</p>
                <p>§ 2º: Da mesma forma, à CONTRATADA assistirá o direito de rescindir o contrato, de imediato, nos casos em que o CONTRATANTE.</p>
                <ol class="termos" type="I">
                    <li>Disponibilizar, mediante pagamento ou de forma gratuita, o conteúdo que terá acesso a terceiros, em qualquer meio, físico, digital, ou outro que venha a ser inventado; usar indevidamente eventual material didático disponibilizado; ou transmitir eventuais aulas em vídeo realizadas pela CONTRATADA.</li>
                    <li>Em quaisquer dos casos acima, além do desligamento automático do curso, o CONTRATANTE poderá ser responsabilizado civil e criminalmente, nos termos da legislação vigente.</li>
                </ol>

                <p class="h5 mt-4">DAS DISPOSIÇÕES GERAIS:</p>
                <p><strong>Cláusula 10ª: </strong>Ao clicar na opção ASSINAR, disponível ao CONTRATANTE, esse se declara ciente e de acordo com todos os termos do presente instrumento.</p>
                <p><strong>Cláusula 11ª: </strong>O CONTRATANTE declara, sob as penas da lei, ser a pessoa titular da documentação utilizada no momento da presente contratação eletrônica, assim como expressamente declara e garante, para todos os fins de direito: a) possuir capacidade jurídica para celebrar este instrumento e para utilizar o serviço. b) reconhecer que o presente instrumento se formaliza, vinculando as partes de forma contratual, a partir do clique no espaço reservado para tanto no site da CONTRATADA.</p>
                <p><strong>Cláusula 12ª: </strong>Eventual invalidade de alguma cláusula desse contrato não se estenderá às demais.</p>
                <p><strong>Cláusula 13ª: </strong>A comunicação entre as partes se dará através dos respectivos endereços eletrônicos informados, razão pela qual deverá o CONTRATANTE, sempre manter seus dados atualizados.</p>

                <p class="h5 mt-4">DO FORO:</p>
                <p><strong>Cláusula 14ª:</strong>Para dirimir quaisquer controvérsias oriundas deste contrato, as partes elegem o foro da comarca de SÃO PAULO/SP, com exclusão de qualquer outra, por mais privilegiada que seja.</p>
                <p>E, por ter lido e estar de acordo com o conteúdo do presente instrumento, o CONTRATANTE opta por aceitá-lo em sua integralidade, fazendo com que surtam os efeitos jurídicos próprios.</p>

            </div>
        </div>
    </div>
</section>
{% endblock %}