{% load static %}
<section class="our-features section">
	<div class="container">
		<div class="row">
			<div id="missao" class="col-12 wow zoomIn">
				<div class="section-title">
					<h1>Mundstock <span>Educacional</span></h1>
					<p class="mt-5" style="font-size: 22px;">O nosso propósito é ser referência no mercado educacional de finanças e economia oferecendo educação de alta qualidade com responsabilidade, integridade, comprometimento e ética</p>
				</div>
			</div>
		</div>
	</div>
</section>