
<section class="cta" data-stellar-background-ratio="0.5">
	<div class="container">
		<div class="row">
			<div class="col-lg-5 offset-lg-6 col-12">
				<div class="cta-inner overlay">
					<div class="text-content">
						<h2>Acesse a lista de livros recomendados pela Mundstock Educacional</h2>
						<p>Leitura é algo essencial na vida do ser humano pois exercita a memória, ajuda a desenvolver o lado criativo e o crescimento intelectual, além de muitos outros benefícios.</p>
						<div class="button">
							<a class="btn primary wow fadeInUp" href="{% url 'core:livros-recomendados' %}" >Acesse</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>