{% load static %}
<section class="our-features section">
    <div class="container">
        <div class="row">
            <div class="col-12 wow zoomIn">
                <div class="section-title">
                    <h2>Receba Nossa <span>Newsletter</span></h2>
                    <p class="mt-5" style="font-size: 22px;">Digite seu e-mail para receber diversos insights e artigos exclusivos da Mundstock Educacional</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-8 col-12">
                <div class="news">
                    <input type="email" placeholder="Digite seu e-mail">
                    <button class="button" type="submit"><i class="fa fa-envelope"></i></button>
                </div>
            </div>
        </div>
    </div>
</section>