{% load static %}
{% load redes_sociais %}
<section class="team section">
	<div class="container">
		<div class="row">
			<div class="col-12 wow zoomIn">
				<div class="section-title">
					<h2>Igor <span>Mundstock</span></h2>
				</div>
			</div>
		</div>
		<div class="row justify-content-md-center align-items-center">
			<div class="col-md-6 col-12 wow fadeIn" style="max-width: 310px;" data-wow-delay="0.4s">
				<!-- Single Team -->
				<div class="single-team">
					<img src="{% static 'images/professor_home_2.jpg' %}" alt="#">
					<div class="team-hover">
						<h4><a class="link-sem-decoracao" href="{% url 'core:quem-somos' %}">Igor Mundstock<span>Economista e Fundador</span></a></h4>
						<p>Menos Preço, Mais Fundamento!</p>
						<ul class="social">
							<li><a href="{% instagram %}"><i class="fa fa-instagram"></i></a></li>
							<li><a href="{% twitter %}"><i class="fa fa-twitter"></i></a></li>
							<li><a href="{% linkedin %}"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="{% youtube %}"><i class="fa fa-youtube"></i></a></li>
						</ul>
					</div>
				</div>
				<!--/ End Single Team -->
			</div>
			<div class="col-md-6 col-12 mt-3">
				<div class="detail-content">
					{% include 'utils/texto-team.html' %}
				</div>
			</div>
		</div>
	</div>
</section>