<p>Bacharel em <strong>Ciências Econômicas</strong> na Universidade de Santa Cruz do Sul, formação complementar em
    Executive Management pela University of La Verne (Califórnia) e Consultor de Investimentos pela CVM.</p>
<p>Fundador da <strong>Mundstock Educacional</strong> em setembro de 2020, a empresa nasceu com o intuito de incentivar o
    aprendizado sobre economia e investimentos. <strong>O objetivo</strong> é ensinar sobre a importância da análise
    macroeconômica durante o processo de decisão de investimento, evitando que os alunos tenham grandes perdas
    patrimoniais. <strong>A missão</strong> da Mundstock Educacional é oferecer educação de alta qualidade sobre economia,
    finanças e investimentos.</p>
<p>Com mais de <strong>8 anos</strong> de experiência no mercado financeiro sua filosofia de investimentos se baseia em encontrar
    companhias com grandes descontos em setores estratégicos almejando rentabilidade acima da média no longo prazo.
    Suas decisões de investimento são baseadas em análises fundamentalistas, estudos macroeconômicos e leituras
    comportamentais dos mercados. Sua rentabilidade (CAGR) é de 21,6% ao ano (2013 – 2020).</p>
<!--<p>Investidor no mercado financeiro desde 2013, sua filosofia de investimento segue os caminhos-->
<!--    trilhados por grandes "value investors" como Benjamin Graham, Warren Buffet e Charlie Munger,-->
<!--    buscando ótimas empresas negociadas a preços atrativos. Sua rentabilidade história (CAGR) é de-->
<!--    21,6% ao ano.</p><br>-->
<!--<p>Fundada em setembro de 2020, a <strong>Mundstock Educacional</strong> nasceu com o intuito de incentivar o estudo-->
<!--    sobre economia e investimentos. O objetivo é ensinar sobre a importância da análise-->
<!--    macroeconômica durante o processo de decisão de investimento, evitando grandes perdas-->
<!--    patrimoniais e elevando o potencial de retorno de longo prazo. A missão da Mundstock Educacional-->
<!--    é oferecer educação de alta qualidade sobre economia, finanças e investimentos.</p>-->